* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-roboto;
    color: #000;
    font-size: 15px;
}

.wrapper {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333;
    &:hover {
        color: $color-primary;
    }
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

nav[role="menu"]{
    @include dl-flex;
}

$sizes: 5, 10, 15, 20;
@each $size in $sizes {
    .mg-tb-#{$size} {
        margin-top: #{$size}px;
        margin-bottom: #{$size}px;
    }
    .mg-lr-#{$size} {
        margin-left: #{$size}px;
        margin-right: #{$size}px;
    }
    .mg-r-#{$size} {
        margin-right: #{$size}px;
    }

    .mg-l-#{$size} {
        margin-left: #{$size}px;
    }

    .mg-t-#{$size} {
        margin-top: #{$size}px;
    }

    .mg-b-#{$size} {
        margin-bottom: #{$size}px;
    }
}


.flex {
    &-middle {
        display: flex;
        align-items: center;
    }
}
