.breadcrumb__list {
    padding: 15px 0;
    ul {
        @include dl-flex();
        li {
            margin-right: 10px;
            a {
                font-size: 13px;
            }
            &:after {
                color: #b1b1b1;
                content: "\BB";
                padding: 5px;
            }
            &:last-child:after {
                display: none;
            }
        }
    }
}
