.btn-apply {
    &__now {
        background-color: $color-primary;
        color: #fff;
        padding: 10px 20px;
        &:hover {
            background-color: $color-secondary;
            color: #fff;
        }
        border-radius: 30px;
        display: inline-block;
    }
}
