	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/02/2019 03:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Flaticon.woff2") format("woff2"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-magnifying-glass:before { content: "\f101"; }
.flaticon-marker:before { content: "\f102"; }
.flaticon-marker-1:before { content: "\f103"; }
.flaticon-marker-2:before { content: "\f104"; }
.flaticon-letter:before { content: "\f105"; }
.flaticon-opened-email-outlined-interface-symbol:before { content: "\f106"; }
.flaticon-telephone:before { content: "\f107"; }
.flaticon-call:before { content: "\f108"; }
.flaticon-fax:before { content: "\f109"; }
.flaticon-newspaper:before { content: "\f10a"; }
.flaticon-saturn:before { content: "\f10b"; }
.flaticon-career:before { content: "\f10c"; }
.flaticon-application:before { content: "\f10d"; }
.flaticon-printer:before { content: "\f10e"; }
.flaticon-download:before { content: "\f10f"; }
.flaticon-close:before { content: "\f110"; }
.flaticon-unlocked:before { content: "\f111"; }
.flaticon-job:before { content: "\f112"; }
.flaticon-trophy:before { content: "\f113"; }
.flaticon-quotation-mark:before { content: "\f114"; }
.flaticon-left-quote:before { content: "\f115"; }
.flaticon-clock:before { content: "\f116"; }
.flaticon-event:before { content: "\f117"; }
.flaticon-alarm:before { content: "\f118"; }
.flaticon-dashboard:before { content: "\f119"; }
.flaticon-profile:before { content: "\f11a"; }
.flaticon-paper-plane:before { content: "\f11b"; }
.flaticon-analysis:before { content: "\f11c"; }
.flaticon-chat:before { content: "\f11d"; }
.flaticon-favorites:before { content: "\f11e"; }
.flaticon-rating:before { content: "\f11f"; }
.flaticon-locked:before { content: "\f120"; }
.flaticon-logout:before { content: "\f121"; }
.flaticon-rubbish-bin:before { content: "\f122"; }
.flaticon-edit:before { content: "\f123"; }
.flaticon-eye:before { content: "\f124"; }
.flaticon-doc:before { content: "\f125"; }
.flaticon-tag:before { content: "\f126"; }
.flaticon-star:before { content: "\f127"; }
.flaticon-paper:before { content: "\f128"; }
.flaticon-graduation-hat:before { content: "\f129"; }
.flaticon-old-age-man:before { content: "\f12a"; }
.flaticon-coupon:before { content: "\f12b"; }
.flaticon-location-pin:before { content: "\f12c"; }
.flaticon-price:before { content: "\f12d"; }
.flaticon-wallet:before { content: "\f12e"; }
.flaticon-briefcase:before { content: "\f12f"; }
.flaticon-cv:before { content: "\f130"; }
.flaticon-resume:before { content: "\f131"; }
.flaticon-open-envelope-with-letter:before { content: "\f132"; }
.flaticon-work:before { content: "\f133"; }
.flaticon-consulting-message:before { content: "\f134"; }
.flaticon-support:before { content: "\f135"; }
.flaticon-video-conference:before { content: "\f136"; }
.flaticon-test:before { content: "\f137"; }
.flaticon-paper-plane-1:before { content: "\f138"; }
.flaticon-2-squares:before { content: "\f139"; }
.flaticon-team:before { content: "\f13a"; }
.flaticon-timeline:before { content: "\f13b"; }
.flaticon-businessman:before { content: "\f13c"; }
.flaticon-user:before { content: "\f13d"; }
.flaticon-ticket:before { content: "\f13e"; }
.flaticon-label:before { content: "\f13f"; }
.flaticon-tag-1:before { content: "\f140"; }
.flaticon-link:before { content: "\f141"; }
.flaticon-mail:before { content: "\f142"; }
.flaticon-phone-call:before { content: "\f143"; }
.flaticon-share:before { content: "\f144"; }
.flaticon-share-1:before { content: "\f145"; }
.flaticon-money:before { content: "\f146"; }
.flaticon-gender:before { content: "\f147"; }
.flaticon-controls:before { content: "\f148"; }
.flaticon-24-hours-support:before { content: "\f149"; }
.flaticon-zoom-in:before { content: "\f14a"; }
.flaticon-plus-zoom:before { content: "\f14b"; }
.flaticon-businessman-paper-of-the-application-for-a-job:before { content: "\f14c"; }
.flaticon-filter:before { content: "\f14d"; }
.flaticon-filter-1:before { content: "\f14e"; }
.flaticon-line-chart:before { content: "\f14f"; }
.flaticon-interview:before { content: "\f150"; }
.flaticon-pen:before { content: "\f151"; }
.flaticon-mortarboard:before { content: "\f152"; }
.flaticon-bars:before { content: "\f153"; }
.flaticon-antenna:before { content: "\f154"; }
.flaticon-customer-support:before { content: "\f155"; }
.flaticon-care:before { content: "\f156"; }
.flaticon-food:before { content: "\f157"; }
.flaticon-bookmark:before { content: "\f158"; }
.flaticon-playstore:before { content: "\f159"; }
.flaticon-play-store:before { content: "\f15a"; }
.flaticon-apple-big-logo:before { content: "\f15b"; }
.flaticon-certified:before { content: "\f15c"; }
.flaticon-company:before { content: "\f15d"; }
.flaticon-manager:before { content: "\f15e"; }
.flaticon-employee:before { content: "\f15f"; }
.flaticon-man:before { content: "\f160"; }
.flaticon-rocket-launch:before { content: "\f161"; }
.flaticon-right-arrow:before { content: "\f162"; font-size: 15px; }
.flaticon-menu:before { content: "\f163"; }
.flaticon-404:before { content: "\f164"; }
.flaticon-download-arrow:before { content: "\f165"; }
.flaticon-left-arrow:before { content: "\f166"; font-size: 15px; }
.flaticon-download-1:before { content: "\f167"; }
.flaticon-upload:before { content: "\f168"; }
.flaticon-pdf:before { content: "\f169"; }
.flaticon-bullseye:before { content: "\f16a"; }
.testimonials-item:before{
  content: '“';
}
