.job-section {
    &-head {
        margin-bottom: 20px;
        h2 {
            font-size: 24px;
        }
        p {
            color: #959595;
            margin-top: 7px;
        }
    }
}

.job-select {
    &-regions {
        background-color: #fff;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 5px;
        height: 62px;
        padding: 0 25px;
        border: solid 1px #ddd;
        position: relative;
        min-width: 200px;
        color: #333;
        > label {
            @include dl-flex();
            align-items: center;
            cursor: pointer;
            flex-grow: 1;
            i {
                margin-right: 20px;
            }
            span {
                font-size: 16px;
            }
        }

        .flaticon-location-pin {
            font-size: 28px;
            color: #bfbfbf;
        }
    }
}

.job-trending {
    &-keyword {
        @include dl-flex();
        align-items: center;
        span {
            display: inline-block;
            margin-right: 10px;
            color: #fff;
        }
        a {
            color: $color-secondary;
            background-color: #e8e8e8;
            padding: 3px 10px;
            border-radius: 11px;
            margin-right: 5px;
        }
    }

}

.job-trend {
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
        grid-column-gap: 24px;
        grid-row-gap: 20px;
    }
    &-item {
        @include dl-flex();
        border: 1px solid #dddddd;
        border-radius: 6px;
        align-items: center;
        padding: 20px;
        transition: box-shadow 0.05s ease-in, border-color 0.05s ease;
        &:hover {
            border-color: #1C56AC;
            box-shadow: 0px 1px 35px 0px rgb(28 85 171 / 10%);
        }
        h3 {
            margin-bottom: 5px;
            a {
                font-size: 16px;
            }
        }
        p {
            color: #6d6d6d;
            font-size: 14px;
        }
        > i {
            flex-basis: 50px;
            font-size: 34px;
            color: #1C56AC;
        }
    }
}
