.detail {
    > .wrapper {
        @include dl-flex();
        justify-content: space-between;
    }

    .sidebar {
        min-width: 300px;
        margin-left: 20px;
    }
}

.content-group {
    margin: 20px 0;
    line-height: 24px;
    &__content {

    }
    &__title {
        font-size: 18px;
        margin-bottom: 15px;
        border-left: solid 5px $color-primary;
        padding-left: 10px;
    }
    p {
        line-height: 1.6;
    }
}

.company-info {
    &__avatar {
        width: 100px;
        height: 80px;
        margin: 0 auto;
        background-color: #eee;
        margin-bottom: 15px;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__name {
        text-align: center;
    }
    &__review {
        text-align: center;
    }
    &__description {
        padding: 15px 0;
        line-height: 20px;
        font-size: 14px;
    }
    &__property {
        ul {
            li {
                font-size: 13px;
                line-height: 17px;
                color: #333;
                display: flex;
                margin-bottom: 3px;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
    &__jobs {
        .jobs-box__small {
            margin-top: 15px;
        }
    }
}

.job {
    &-company {
        font-size: 13px;
        color: #696969;
    }
    &-property {
        .item {
            margin: 5px 0;
        }
    }
    &-summary {
        font-size: 14px;
        background-color: #f1f1f1;
        padding: 10px 15px;
        border-radius: 2px;
    }
    &-note {
        padding: 15px;
        line-height: 24px;
        font-size: 14px;
        background-color: #fffce8;
    }
}

.job {
    &-apply {
        &-top {
            margin: 10px 0;
        }
    }
}

.refer-item {
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    a {
        display: block;
        background-color: #eee;
        padding: 3px 15px;
        border-radius: 15px;
    }
}

.jobs-box {
    &__small {

    }
    &__title {
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        &:before {
            content: "";
            width: 20px;
            height: 3px;
            background-color: #ccc;
            display: block;
            margin-bottom: 5px;
        }
    }
    &__item {
        border-bottom: solid 1px #eee;
        padding: 8px 0;
        h3 {
            margin-bottom: 5px;
            a {
                font-size: 14px;
            }
        }
        &__property {
            margin-top: 3px;
            font-size: 13px;
        }
    }
}

ul.locations {
    li {
        list-style: inside;
        padding: 5px 0;
        line-height: 24px;
        a {
            font-size: 13px;
        }
    }
}
