footer {
    margin: 50px 0 0 0;
}

.footer {
    &-container {
        background-color: #f9f9f9;
        padding: 20px 0;
    }
    &-list-rewrite {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        max-width: 100%;
        grid-column-gap: 24px;
        padding: 20px;
        grid-row-gap: 24px;
    }
}

.coppy-right {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.job-list-link {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    li {
        &:first-child {
            a {
                font-weight: bold;
                color: #333;
            }
        }
        margin: 7px 0;
    }
}
