header {
    @include dl-flex;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    z-index: 11;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.logo {
    &-top {
        width: 121px;
    }
}

.header {
    @include dl-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    &-right {
        @include dl-flex;
        align-items: center;
    }
}
