.page {
    &-container {
        @include dl-flex();
        justify-content: space-between;
    }
    &-left {
        min-width: 70%;
        box-sizing: border-box;
    }
    &-right {
        min-width: 30%;
        box-sizing: border-box;
    }
}
