$sizes: 2, 3, 4, 5;
@each $size in $sizes {
    .grid-#{$size} {
        display: grid;
        grid-template-columns: repeat(#{$size}, 1fr);
        max-width: 100%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
