@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;

500;700;900&display=swap);@charset "UTF-8";
:root {
  --primary-bg: $color-primary;
}

/* COLORS */

.primary-bg {
  background: #246df8;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

/*
 	Flaticon icon font: Flaticon
 	Creation date: 13/02/2019 03:03
 	*/

@font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("/fonts/Flaticon.woff2") format("woff2"), url("/fonts/Flaticon.woff") format("woff"), url("/fonts/Flaticon.ttf") format("truetype"), url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
@font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
}
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-search:before {
  content: "\F100";
}

.flaticon-magnifying-glass:before {
  content: "\F101";
}

.flaticon-marker:before {
  content: "\F102";
}

.flaticon-marker-1:before {
  content: "\F103";
}

.flaticon-marker-2:before {
  content: "\F104";
}

.flaticon-letter:before {
  content: "\F105";
}

.flaticon-opened-email-outlined-interface-symbol:before {
  content: "\F106";
}

.flaticon-telephone:before {
  content: "\F107";
}

.flaticon-call:before {
  content: "\F108";
}

.flaticon-fax:before {
  content: "\F109";
}

.flaticon-newspaper:before {
  content: "\F10A";
}

.flaticon-saturn:before {
  content: "\F10B";
}

.flaticon-career:before {
  content: "\F10C";
}

.flaticon-application:before {
  content: "\F10D";
}

.flaticon-printer:before {
  content: "\F10E";
}

.flaticon-download:before {
  content: "\F10F";
}

.flaticon-close:before {
  content: "\F110";
}

.flaticon-unlocked:before {
  content: "\F111";
}

.flaticon-job:before {
  content: "\F112";
}

.flaticon-trophy:before {
  content: "\F113";
}

.flaticon-quotation-mark:before {
  content: "\F114";
}

.flaticon-left-quote:before {
  content: "\F115";
}

.flaticon-clock:before {
  content: "\F116";
}

.flaticon-event:before {
  content: "\F117";
}

.flaticon-alarm:before {
  content: "\F118";
}

.flaticon-dashboard:before {
  content: "\F119";
}

.flaticon-profile:before {
  content: "\F11A";
}

.flaticon-paper-plane:before {
  content: "\F11B";
}

.flaticon-analysis:before {
  content: "\F11C";
}

.flaticon-chat:before {
  content: "\F11D";
}

.flaticon-favorites:before {
  content: "\F11E";
}

.flaticon-rating:before {
  content: "\F11F";
}

.flaticon-locked:before {
  content: "\F120";
}

.flaticon-logout:before {
  content: "\F121";
}

.flaticon-rubbish-bin:before {
  content: "\F122";
}

.flaticon-edit:before {
  content: "\F123";
}

.flaticon-eye:before {
  content: "\F124";
}

.flaticon-doc:before {
  content: "\F125";
}

.flaticon-tag:before {
  content: "\F126";
}

.flaticon-star:before {
  content: "\F127";
}

.flaticon-paper:before {
  content: "\F128";
}

.flaticon-graduation-hat:before {
  content: "\F129";
}

.flaticon-old-age-man:before {
  content: "\F12A";
}

.flaticon-coupon:before {
  content: "\F12B";
}

.flaticon-location-pin:before {
  content: "\F12C";
}

.flaticon-price:before {
  content: "\F12D";
}

.flaticon-wallet:before {
  content: "\F12E";
}

.flaticon-briefcase:before {
  content: "\F12F";
}

.flaticon-cv:before {
  content: "\F130";
}

.flaticon-resume:before {
  content: "\F131";
}

.flaticon-open-envelope-with-letter:before {
  content: "\F132";
}

.flaticon-work:before {
  content: "\F133";
}

.flaticon-consulting-message:before {
  content: "\F134";
}

.flaticon-support:before {
  content: "\F135";
}

.flaticon-video-conference:before {
  content: "\F136";
}

.flaticon-test:before {
  content: "\F137";
}

.flaticon-paper-plane-1:before {
  content: "\F138";
}

.flaticon-2-squares:before {
  content: "\F139";
}

.flaticon-team:before {
  content: "\F13A";
}

.flaticon-timeline:before {
  content: "\F13B";
}

.flaticon-businessman:before {
  content: "\F13C";
}

.flaticon-user:before {
  content: "\F13D";
}

.flaticon-ticket:before {
  content: "\F13E";
}

.flaticon-label:before {
  content: "\F13F";
}

.flaticon-tag-1:before {
  content: "\F140";
}

.flaticon-link:before {
  content: "\F141";
}

.flaticon-mail:before {
  content: "\F142";
}

.flaticon-phone-call:before {
  content: "\F143";
}

.flaticon-share:before {
  content: "\F144";
}

.flaticon-share-1:before {
  content: "\F145";
}

.flaticon-money:before {
  content: "\F146";
}

.flaticon-gender:before {
  content: "\F147";
}

.flaticon-controls:before {
  content: "\F148";
}

.flaticon-24-hours-support:before {
  content: "\F149";
}

.flaticon-zoom-in:before {
  content: "\F14A";
}

.flaticon-plus-zoom:before {
  content: "\F14B";
}

.flaticon-businessman-paper-of-the-application-for-a-job:before {
  content: "\F14C";
}

.flaticon-filter:before {
  content: "\F14D";
}

.flaticon-filter-1:before {
  content: "\F14E";
}

.flaticon-line-chart:before {
  content: "\F14F";
}

.flaticon-interview:before {
  content: "\F150";
}

.flaticon-pen:before {
  content: "\F151";
}

.flaticon-mortarboard:before {
  content: "\F152";
}

.flaticon-bars:before {
  content: "\F153";
}

.flaticon-antenna:before {
  content: "\F154";
}

.flaticon-customer-support:before {
  content: "\F155";
}

.flaticon-care:before {
  content: "\F156";
}

.flaticon-food:before {
  content: "\F157";
}

.flaticon-bookmark:before {
  content: "\F158";
}

.flaticon-playstore:before {
  content: "\F159";
}

.flaticon-play-store:before {
  content: "\F15A";
}

.flaticon-apple-big-logo:before {
  content: "\F15B";
}

.flaticon-certified:before {
  content: "\F15C";
}

.flaticon-company:before {
  content: "\F15D";
}

.flaticon-manager:before {
  content: "\F15E";
}

.flaticon-employee:before {
  content: "\F15F";
}

.flaticon-man:before {
  content: "\F160";
}

.flaticon-rocket-launch:before {
  content: "\F161";
}

.flaticon-right-arrow:before {
  content: "\F162";
  font-size: 15px;
}

.flaticon-menu:before {
  content: "\F163";
}

.flaticon-404:before {
  content: "\F164";
}

.flaticon-download-arrow:before {
  content: "\F165";
}

.flaticon-left-arrow:before {
  content: "\F166";
  font-size: 15px;
}

.flaticon-download-1:before {
  content: "\F167";
}

.flaticon-upload:before {
  content: "\F168";
}

.flaticon-pdf:before {
  content: "\F169";
}

.flaticon-bullseye:before {
  content: "\F16A";
}

.testimonials-item:before {
  content: "\201C";
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 15px;
}

.wrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #246df8;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

nav[role=menu] {
  display: flex;
}

.mg-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mg-lr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mg-r-5 {
  margin-right: 5px;
}

.mg-l-5 {
  margin-left: 5px;
}

.mg-t-5 {
  margin-top: 5px;
}

.mg-b-5 {
  margin-bottom: 5px;
}

.mg-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mg-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mg-r-10 {
  margin-right: 10px;
}

.mg-l-10 {
  margin-left: 10px;
}

.mg-t-10 {
  margin-top: 10px;
}

.mg-b-10 {
  margin-bottom: 10px;
}

.mg-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mg-lr-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mg-r-15 {
  margin-right: 15px;
}

.mg-l-15 {
  margin-left: 15px;
}

.mg-t-15 {
  margin-top: 15px;
}

.mg-b-15 {
  margin-bottom: 15px;
}

.mg-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mg-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mg-r-20 {
  margin-right: 20px;
}

.mg-l-20 {
  margin-left: 20px;
}

.mg-t-20 {
  margin-top: 20px;
}

.mg-b-20 {
  margin-bottom: 20px;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.breadcrumb__list {
  padding: 15px 0;
}

.breadcrumb__list ul {
  display: flex;
}

.breadcrumb__list ul li {
  margin-right: 10px;
}

.breadcrumb__list ul li a {
  font-size: 13px;
}

.breadcrumb__list ul li:after {
  color: #b1b1b1;
  content: "\BB";
  padding: 5px;
}

.breadcrumb__list ul li:last-child:after {
  display: none;
}

.btn-apply__now {
  background-color: #246df8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
}

.btn-apply__now:hover {
  background-color: #0055f6;
  color: #fff;
}

header {
  display: flex;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 11;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.logo-top {
  width: 121px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

footer {
  margin: 50px 0 0 0;
}

.footer-container {
  background-color: #f9f9f9;
  padding: 20px 0;
}

.footer-list-rewrite {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  grid-column-gap: 24px;
  padding: 20px;
  grid-row-gap: 24px;
}

.coppy-right {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.job-list-link a:hover {
  text-decoration: underline;
}

.job-list-link li {
  margin: 7px 0;
}

.job-list-link li:first-child a {
  font-weight: bold;
  color: #333;
}

.page-container {
  display: flex;
  justify-content: space-between;
}

.page-left {
  min-width: 70%;
  box-sizing: border-box;
}

.page-right {
  min-width: 30%;
  box-sizing: border-box;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

input[type=text],
input[type=search] {
  -webkit-appearance: none;
  border: solid 1px #ccc;
  -moz-appearance: none;
       appearance: none;
  padding: 10px 15px;
  border-radius: 3px;
  transition: box-shadow 0.2s ease;
}

input[type=text].none,
input[type=search].none {
  border: none;
  background-color: transparent;
}

input[type=text]:not(.none):focus,
input[type=search]:not(.none):focus {
  box-shadow: inset 0 2px 2px #e5e5e5;
}

select {
  border: none;
  padding: 10px 15px;
}

button {
  font-family: "Roboto", sans-serif;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background 0.05s ease-in;
}

button.default {
  padding: 10px 15px;
  border-radius: 3px;
  color: #fff;
  background: #1C56AC;
}

button.default:hover {
  background-color: #0A3575;
}

.btn-icon-search {
  background-image: url(/images/magnifier.svg);
  background-size: 19px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: background 0.05s ease-in;
}

.btn-icon-search:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.btn-submit-search {
  height: 62px;
  padding: 0 20px;
  background: #FF9600;
  color: #fff;
  font-size: 20px;
  border-radius: 3px;
  font-weight: bold;
}

.btn-submit-search:hover {
  background-color: #E78D0D;
}

[role=menu] {
  display: flex;
}

[role=menu] > li {
  position: relative;
}

[role=menu] > li:hover > ul {
  display: block;
}

[role=menu] > li > ul {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  min-width: 200px;
  position: absolute;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: none;
}

[role=menu] > li > ul > li {
  border-bottom: solid 1px #eee;
}

[role=menu] > li > ul > li:last-child {
  border-bottom: none;
}

[role=menu] > li > ul > li > a {
  padding: 15px;
  display: block;
}

[role=menu] > li > ul > li > a:hover {
  background-color: #eee;
  transition: background 0.1s ease-in;
}

.search-fillter form {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search-fillter .field-search {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 62px;
  padding: 0 25px;
  border: solid 1px #ddd;
  width: 500px;
}

.search-fillter .field-search .flaticon-search {
  font-size: 28px;
  color: #bfbfbf;
}

.search-fillter .field-search input[type=search] {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

.regions-list-search {
  position: absolute;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  min-width: 400px;
  z-index: 10;
  display: block;
  margin-top: 11px;
  left: 0;
  top: 61px;
}

.regions-list-search > input[type=search] {
  width: 100%;
}

.regions-list-search:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -10px;
  position: absolute;
}

.regions-list-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  grid-column-gap: 10px;
  margin-top: 10px;
}

.regions-list-link ul li {
  margin-bottom: 7px;
}

.regions-list-link ul li:last-child {
  margin-bottom: 0;
}

.regions-list-link ul li:first-child {
  font-weight: bold;
}

.regions-list-link ul li:first-child a {
  color: #333;
}

.regions-list-link ul li a:hover {
  text-decoration: underline;
}

.card {
  margin-bottom: 15px;
}

.card.card-company {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
}

.card-heading {
  padding: 10px 0;
  border-bottom: solid 1px #eee;
  font-weight: bold;
  text-transform: uppercase;
}

.job-listing .item {
  display: flex;
  margin: 20px 0;
}

.job-listing .item .logo {
  flex-basis: 150px;
  height: 100px;
  background-color: #eee;
  overflow: hidden;
  margin-right: 15px;
}

.job-listing .item .logo a {
  display: block;
}

.job-listing .item .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.job-listing .item h2 {
  font-size: 15px;
}

.job-listing .item .company {
  font-size: 12px;
  color: #8e7f7f;
  padding: 5px 0;
  margin-bottom: 5px;
}

.job-listing .item .benfit {
  font-size: 13px;
  margin-bottom: 5px;
}

.job-listing .item .description {
  font-size: 13px;
  line-height: 19px;
}

.pagenation {
  padding: 30px 0;
}

.pagenation ul {
  display: flex;
  justify-content: center;
}

.pagenation li {
  margin: 0 5px;
}

.pagenation .next a,
.pagenation .prev a {
  padding: 0 10px;
}

.pagenation .active a {
  border-color: #333;
  color: #333;
}

.pagenation a {
  border: solid 2px #eee;
  border-radius: 4px;
  min-width: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
}

.pagenation a:hover {
  border-color: #333;
  color: #333;
}

h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

