button {
    font-family: $font-roboto;
    &.default {
        padding: 10px 15px;
        border-radius: 3px;
        color: #fff;
        background: #1C56AC;
        &:hover {
            background-color: #0A3575;
        }
    }

    border: none;
    background: transparent;
    cursor: pointer;
    transition: background 0.05s ease-in;


}

.btn {
    &-icon-search {
        background-image: url(/images/magnifier.svg);
        background-size: 19px;
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        transition: background 0.05s ease-in;
        &:hover {
            background-color: rgba(60, 64, 67, 0.08);
        }
    }
    &-submit-search {
        height: 62px;
        padding: 0 20px;
        background: #FF9600;
        color: #fff;
        font-size: 20px;
        border-radius: 3px;
        font-weight: bold;
        &:hover {
            background-color: #E78D0D;
        }
    }
}
