input {
    &[type="text"],
    &[type="search"] {
        -webkit-appearance: none;
        border: solid 1px #ccc;
        appearance: none;
        padding: 10px 15px;
        border-radius: 3px;
        transition: box-shadow 0.2s ease;
        &.none {
            border: none;
            background-color: transparent;
        }
        &:not(.none):focus {
            box-shadow: inset 0 2px 2px #e5e5e5;
        }
    }
}

