.banner {
    background-image: url("/images/slider4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-position: center;
    @include dl-flex();
    align-items: center;

    .search-fillter {
        margin-top: 20px;
    }

    &-slogan {
        color: #fff;

        h1 {
            font-weight: normal;
            font-size: 45px;
            margin-bottom: 10px;
        }
    }
}
