.card {
    margin-bottom: 15px;
    &.card-company {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 15px;
    }

    &-heading {
        padding: 10px 0;
        border-bottom: solid 1px #eee;
        font-weight: bold;
        text-transform: uppercase;
    }
    &-content {

    }
}

