.job-listing {
    .item {
        @include dl-flex();
        margin: 20px 0;
        .logo {
            flex-basis: 150px;
            height: 100px;
            background-color: #eee;
            overflow: hidden;
            margin-right: 15px;
            a {
                display: block;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        h2 {
            font-size: 15px;
            a {
            }
        }

        .company {
            font-size: 12px;
            color: #8e7f7f;
            padding: 5px 0;
            margin-bottom: 5px;
        }

        .benfit {
            font-size: 13px;
            margin-bottom: 5px;
        }

        .description {
            font-size: 13px;
            line-height: 19px;
        }
    }
}
