.job-card {
    border-bottom: 1px dotted #d7d7d7;
    padding: 15px 0;
    .employer-logo {
        height: 75px;
        flex-basis: 100px;
        margin-right: 20px;
        a {
            display: block;
        }
    }
}
.job {
    &-metas {

    }
    &-information {
        flex-grow: 1;
    }
    &-title {
        a {
            font-size: 15px;
        }
    }
    &-company {
        font-weight: normal;
        margin: 3px 0;
        a {
            font-size: 13px;
            color: #999;
        }
    }

    &-carrier {
        li {
            list-style-type: square;
            list-style-position: inside;
            padding: 0 0 5px;
            color: #2d82c4;
        }
    }
}
