[role='menu'] {
    @include dl-flex();
    > li {
        position: relative;
        &:hover {
            > ul {
                display: block;
            }
        }
        > ul {
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            min-width: 200px;
            position: absolute;
            z-index: 2;
            box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
            display: none;
            > li {
                border-bottom: solid 1px #eee;
                &:last-child {
                    border-bottom: none;
                }
                > a {
                    padding: 15px;
                    display: block;
                    &:hover {
                        background-color: #eee;
                        transition: background 0.1s ease-in;
                    }
                }
            }
        }
    }
}

.nav {
    &-top {
        [role="menu"] {
            > li {
                > a {

                }
            }
        }
    }
}
