.pagenation {
    padding: 30px 0;
    ul {
        @include dl-flex();
        justify-content: center;
    }
    li {
        margin: 0 5px;
    }
    .next, .prev {
        a {
            padding: 0 10px;
        }
    }
    .active {
        a {
            border-color: #333;
            color: #333;
        }
    }
    a {
        border: solid 2px #eee;
        border-radius: 4px;
        min-width: 30px;
        display: block;
        text-align: center;
        line-height: 30px;
        &:hover {
            border-color: #333;
            color: #333;
        }
    }
}
