.search-fillter {
    form {
        @include dl-flex();
        align-items: center;
        flex-grow: 1;
    }
    .field-search {
        background: #fff;
        @include dl-flex();
        align-items: center;
        border-radius: 5px;
        height: 62px;
        padding: 0 25px;
        border: solid 1px #ddd;
        width: 500px;
        .flaticon-search {
            font-size: 28px;
            color: #bfbfbf;
        }
        input[type="search"]{
            height: 100%;
            width: 100%;
            font-size: 18px;
        }
    }
}


.regions-list {
    &-search {
        position: absolute;
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
        min-width: 400px;
        z-index: 10;
        display: block;
        margin-top: 11px;
        left: 0;
        top: 61px;
        > input[type="search"]{
            width: 100%;
        }

        &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            top: -10px;
            position: absolute;
        }
    }
    &-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
        grid-column-gap: 10px;
        margin-top: 10px;
        ul {
            li {
                margin-bottom: 7px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:first-child {
                    font-weight: bold;
                    a {
                        color: #333;
                    }
                }
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
